<form action="/boek/create" method="post">
  <label for="ISBN">ISBN:</label><br>
  <input type="text" id="ISBN" name="ISBN" value="ISBN"><br>
  <label for="Auteur">Auteur</label><br>
  <input type="text" id="Auteur" name="Auteur" value="Auteur"><br>
  <label for="Titel">Titel</label><br>
  <input type="text" id="Titel" name="Titel" value="Titel"><br>
  <label for="Genre">Genre</label><br>
  <input type="text" id="Genre" name="Genre" value="Genre"><br>
  <input type="submit" value="Submit">
</form> 