@model List<Boek>

@{
Layout = "";
}

<p>Kies een boek om te verwijderen:</p>
<form action="/boek/delete" method="post">
    <select id="ISBN" name="ISBN">
        @foreach(var boek2 in @Model){
        <option name ="ISBN" value="@boek2.ISBN">@boek2.ISBN</option>
        }
    </select>
  <input type="submit">
</form>
